.navbar-collapse {
    justify-content: flex-end;
}

.navbar {
    background:rgb(255, 255, 255);
}

.navbar-brand, .nav-link {
    color: gray;
}

.nav-link:hover {
    color: black;
}
#left-filterbar {
    border-right-color: gray;
    width: 50%;
}


.container-fluid {
    background-color:rgba(0, 0, 0, 0.1);
}

.container-fluid button {
    margin: 5px;
}

.col-sm {
    max-width: fit-content;
}