.navbar-collapse {
    justify-content: flex-end;
}

.navbar {
    background:rgb(255, 255, 255);
}

.navbar-brand, .nav-link {
    color: gray;
}

.nav-link:hover {
    color: black;
}
#left-filterbar {
    border-right-color: gray;
    width: 50%;
}

.container {
    height: 150px;
    padding-top: 20px;
}

.container-fluid {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #8c8b8b;
    height: 150px;
    padding-top: 20px;
}

.container-fluid button {
    margin: 1px 5px 5px 5px;
    width: 100%;
}

.col-sm {
    
    width: 100%;
    padding-left: 10%;
    padding-right: 10%; 
}

label {
    color: #B4886B;
    font-weight: bold;
    width: 100%;
    float: left;
    font-size: small;
    margin-bottom: 0px;
    margin-left: 5px;
  }
  
  hr {
    background-color: currentColor;
    min-width: 50%;
    height: 1px;
    border: none;
    margin: auto;
    position: relative;
  }
    
    .market:before {
      content: 'Market';
      display: block;
      width: 10%;
      padding: 0.3em;
      font-size: 2em;
      text-align: center;
      position: absolute;
      background-color: white;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: medium;
    }
    .homeMarket:before {
        content: 'Homemarket';
        display: block;
        width: 15%;
        padding: 0.3em;
        font-size: 2em;
        text-align: center;
        position: absolute;
        background-color: white;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: medium;
      }

      .outer {
        width: 2px;
        height: 100%;
        background-color: black;
        margin: auto;
        position: relative;
        overflow: hidden;
      }
      .inner {
        position: absolute;
        width:100%;
        height: 40%;
        background: black;
        top: 30%;
        box-shadow: 0px 0px 30px 20px black;
      }

      @media (max-width: 767.98px) { .border-sm-start-none { border-left: none !important; } }

      .span6 section {
        width: 100%;
        padding-left: 10%;
        padding-right: 10%; 
      }
    
